body {
  background-color: #efefef;
}

p {
  margin: 0 0 15px 0;
}

.box {
  display: inline-block;
  padding: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 2px 4px 0 rgb(0, 0, 0, 0.3);
}

.textProminent {
  color: #8a21b0;
  font-size: 1.3rem;
  font-weight: bold;
}
